html,body{background-color: #e0f1ee;}
.news {width: 100%; padding: 0; margin: 0;}
.news img{width: 100%;}
.logo img {display: block; margin: 30px auto 0;}
.titletop p{text-align: center;font-size: 44px;color: #6b6b6b; margin: 20px 0 0 0; }

.news-recommand {margin-top: 20px;}
.news-recommand .recommend {margin: 0 auto; width: 700px;}
.news-recommand .box { width:220px; height: 216px; overflow:hidden; position:relative; float: left; margin-left: 10px;}
.news-recommand .box:hover h5{ bottom: 0; }
.news-recommand .box img{ display: block; margin: 0 auto;}
.news-recommand .box h5{margin: 0; line-height: 80px; font-size: 16px; width: 100%;height: 80px; position: absolute; bottom: -80px; left: 0; padding-left: 10px; box-sizing: border-box; background: #ccc; transition: bottom .8s}

.news-list {margin: 40px auto;}
.news-more {margin: 0 auto; overflow: hidden;}
.news-more .box {float: left; width: 220px; position: relative; }
.news-more .box:hover h5{bottom: 0;}
.news-more .box img{}
.news-more .box h5{margin: 0; position: absolute; font-size: 16px; line-height: 80px; bottom: -80px; width: 100%; background: #ccc; height: 80px; padding-left: 10px; box-sizing: border-box; transition: bottom .8s;}


.news-content {text-align: center; width: 100%; margin: 0 auto;}
.news-detail {margin-top: 80px;}
.news-info {margin-top: 20px;}



