html,body{height: 100%;background:url(../img/company/companybg.jpg) repeat center center; ;}

.companybody{width: 100%;}

.companybox{width: 1000px;margin: 30px auto;}
.companybox .leftmenu{width: 250px;float: left;}
.companybox .leftmenu a{display: block;width: 100%;height: 100px;border-bottom: solid 1px #e0f1ee;text-align: center;line-height: 100px;color: #13b5b1;font-size: 20px;background-color: #FFFFFF;text-decoration: none;}

.companybox .leftmenu a.active{background-color: #eb6877;color: #FFFFFF;}


.companybox .rightcontent{float: right;width: 710px; overflow: hidden; background-color: #FFFFFF;margin-bottom: 100px;padding: 30px 60px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.companybox .rightcontent p.title{font-size: 25px;color: #EB6877;line-height: 45px;}

.companybox .item-info {
    display: none;
    width: 710px;
    float: right;
    background: #fff;
}
.companybox .item-info .item-info-img{float: right; width: 710px;}
.companybox .item-info h3{ margin-top: 260px; }

/* edit user info */
.companybox .item-info .edituserinfo {
    min-height: 360px;
    padding: 5%;
}
.companybox .item-info .edituserinfo img {
    width: 90%;
}
/* QA */
.companybox .item-info .qa {
    min-height: 360px;
    padding: 5%;
    font-size: 18px;
}
.companybox .item-info .qa h6, p {
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
    color: #13b5b1;
}

.companybox .item-info .qa p {
    color: #000;
}

/* order */
.companybox .item-info .order {
    height: 360px;
    padding-top: 5%;
    font-size: 18px;
}
.order .table .title {
    width: 20%;
    text-align: right;
}
.order .table .content {
    width: 80%;
    text-align: left;
    color: #13b5b1;
}

.order .table td {
    border: none;
}



/* where you want go */
.companybox .item-info .whereuwantgo {
}
.companybox .item-info .whereuwantgo .ipt{
    margin: 5% 5% 10% 5%;
    padding-left: 10px;
    width: 90%;
    height: 40px;
    line-height: 20px;
    outline: none;
}

.companybox .item-info .whereuwantgo img{
    display: block;
    width: 680px;
    margin: 0 auto 10px;
}

.companybox .item-info .whereuwantgo .go{
    margin: 50px 0 20px 0;
    font-size: 18px;
    display: block;
    float: right;
    padding-right: 5%;
    text-decoration: none;
    color: #21B9B4;
}
/* ca */
.companybox .item-info .ca{
    height: 230px;
    padding: 10% 20% 0 20%;
}
.companybox .item-info .ca .ipt{
    width: 100%;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
}
.companybox .item-info .ca .search {
    margin-top: 10px;
    font-size: 16px;
    float: right;
    padding: 5px 15px;
    display: block;
    background: #EB6877;
    border: none;
    color: #fff;
    word-spacing: 10px;
    border-radius: 10px;
}

.conpanycontent{width: 100%;display: table;border: solid 2px #EB6877;padding: 10px 20px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin-bottom: 50px;}


.conpanycontent .aboutus{width: 100%;display: table;}
.conpanycontent .aboutus p{font-size: 16px;color: #595757;line-height: 2.2;}

.conpanycontent .aboutus p:nth-child(1){font-size: 24px;}

.conpanycontent .cooperative{width: 100%;display: table;margin-top: 50px;}

.conpanycontent .cooperative p:nth-child(1){font-size: 24px;color: #595757;line-height: 2.2;}
.conpanycontent .cooperative .cooperativebox{width: 100%;display: table;margin-bottom:30px;}

.conpanycontent .cooperative .cooperativebox a{display: block;float: left; width: 32%; height: 100px;position: relative;height: 100px;border: solid 1px #eb6877;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin-bottom: 10px;}
.conpanycontent .cooperative .cooperativebox a img{display: block;position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;max-height: 70%;max-width: 80%;}
.conpanycontent .cooperative .cooperativebox a:nth-child(3n+2){margin: 0 2%;}


.teamcontent{width: 100%;display: block;}
.teamcontent a{display: block; width: 48%;height: 172px;position: relative;text-align: center;margin-top: 30px;margin-bottom: 30px;}
.teamcontent a:nth-child(2n+1){float: left;}
.teamcontent a:nth-child(2n){float: right;}

.teamcontent a img{display: inline-block;max-width: 100%;max-height: 100%;}
.teamcontent a p{position: absolute;text-align: right;color: #595757;font-size: 20px;bottom: 0;right: 0;margin-bottom: 0;}
.teamcontent a p span{padding-left: 5px;font-size: 14px;}




.recruit a{display: block;font-size: 20px;line-height: 30px; width: 100%; color: #595757;text-decoration: none;margin-top: 10px;}
.recruit a span:nth-child(2){padding: 0 10px; color: #DEDEDE;}

.recruit a:hover{color: #eb6877;}
.recruitremark {width: 100%;display: table;margin-top: 50px;margin-bottom: 100px;}
.recruitremark p{color: #595757;font-size: 20px;line-height: 2.2;}
.recruitremark p:nth-child(1){color: #eb6788;font-size: 24px;}

.contact{width: 100%;display: table;}
.contact p{font-size: 20px;color: #595757;line-height: 1.5;}
